

 <div class="row">    
    
      
    <div class="large-8 push-4 columns">

      <div class="row">
        <div class="large-12">
          <h3 class="text-center user-head">Your Reservations</h3>
        </div>
      </div>
        
      <div class="row">
      
        <div class="large-12 columns">
    
              <div class="panel user-images-panel">
                  <% @my_reservations.each do |reservation| %>
                   
                        <div class="row">
                          <div class="large-12 large-centered columns">
                            <div class="reservation-header">
                              <h1 class="text-center">Reservation</h1>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="large-12 large-centered columns">
                            <div class="reservation-details">
                              <p>Restaurant: <%= reservation.restaurant.name %></p>
                              <p>Reservation time: <%= reservation.time %></p>
                              <p>Reservation date: <%= reservation.date %></p>
                              <p>Rarty of: <%= reservation.group_size %></p>
                            </div>
                          </div>
                        </div>
                      
                    
                  <% end %>
                 </div>
            </div>
          </div>


      </div>

    
     
     <!-- This handles the side panel -->
    <div class="large-4 pull-8 columns">
      
      <div class="panel user-panel">  
        <div class="row">
          <div class="large-12 large-centered columns">
              <img src="http://placekitten.com/g/400/500" class="user-image">
          </div>
        </div>
        <div class="row">
          <div class="large-12 large-centerd columns">
            <h4 class='text-center user-side-head'><%= current_user.name%></h4>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <ul class="side-nav text-center">
              <li><%= link_to "create a restaurant", new_restaurant_path%></li>
              <li><%= link_to 'Edit account', edit_user_path(current_user), :class =>'fa fa-pencil' %></li>
							<li><%= link_to 'Delete Account', user_path(current_user), :method => :delete, :class =>'fa fa-trash-o' %></li>
            </ul>
          </div>
        </div>
        
      </div>

    </div>


    
          

      
        
  </div>

