
<div class="bg-img">
<div class="row">
	<!-- back ground image here -->
		<div class="row">
			<div class="large-8 large-centered columns">
				<h1 id="discover">Discover restaurants near you</h1>
			</div>
		</div>
		<div class="large-12 columns form-index">
			 <div class="row">
		    <div class="large-8 large-centered columns">
		      <div class="row collapse">
		        <div class="small-10 columns">
		          <input type="text" placeholder="Search for restaurants">
		        </div>
		        <div class="small-2 columns">
		          <a href="#" class="button postfix">go<!-- <i class="fa fa-search">--></a> 
		        </div>
		      </div>
		    </div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="large-12 large-centered columns" id="res-table">
	<table>
		<tr>
			<th>Name</th>
			<th>Price Range</th>
			<th>Address</th>
			<th>Cuisine</th>
			<th>Summary</th>
			<th>Capacity</th>
		</tr>


	<% @restaurants.each do |restaurant| %>

		<tr>
			<td><%= restaurant.name %></td>
			<td><%= restaurant.price_range %></td>
			<td><%= restaurant.address %></td>
			<!--  -->
			<td><%= restaurant.summary %></td>
			<td><%= restaurant.capacity %></td>
			<td><%= link_to 'Show', restaurant_path(restaurant) %></td>
		</tr>
	<% end %>
	</table>
</div>
</div>
