<!-- Heading for restaurant -->
<h1><%= %></h1>
<!-- other info(location, contact info, email, cuisine, price range) -->
<p><%= %></p>
<p><%= %></p>
<p><%= %></p>
<p><%= %></p>

<!-- displays the summary -->
<p><%= %></p>