<!-- Heading for restaurant -->
<h1><%= @restaurant.name %></h1>
<!-- other info(location, contact info, email, cuisine, price range) -->
<p><%= @restaurant.address%></p>
<p><%= @restaurant.email%></p>
<p><%= @restaurant.price_range%></p>
<p><%= @restaurant.number%></p>
<p><%= @restaurant.capacity%></p>

<!-- displays the summary -->
<p><%= @restaurant.summary%></p>

<!-- displays the links -->
<%= link_to 'Your reviews' %><br />
<%= link_to 'Edit page', edit_restaurant_path(@restaurant) %><br/>
<%= link_to 'Delete Account', restaurant_path(@restaurant), :method => :delete %><br/>
<%= link_to 'Make a Revervation', new_restaurant_reservation_path(@restaurant) %>
