
<div class="bg-img">
	<div class="row">

		<div class="row">
			<div class="large-8 large-centered columns">
				<h1 id="discover">Discover restaurants near you</h1>
			</div>
		</div>


	 	<%= form_tag restaurants_path, :method => 'get' do %>
			<div class="row search-form">
				<div class="large-8 large-centered columns">
		     
	        <div class="large-9 columns">
	          <%= text_field_tag :search, params[:search], :placeholder => 'Search for restaurants', :class => 'input-bar' %>
	        </div>
	        <div class="large-3 columns">
	          <%= submit_tag "search", :name => nil, :class => 'button postfix input-button'%>
	        </div>
			 	</div>
			</div>
		<% end %>
	</div>


</div>

<div class="sticky">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
		<div class="category-page-header">	
			<div class="row">
				<h3 class="text-center"><%= @category.cuisine%> restuarants</h3>
			</div>
		</div>
  </nav>
</div>


 <div class="panel-container">

  <div class="row">
    <% @restaurants_in_category.each do |restaurant| %>
  
      <div class="large-4 small-6 columns cs-style-4 grid">
        <figure>
          <div class="blur-img">
          	<%= link_to image_tag (restaurant.url) , :class => 'index-restaurant-image' %>
          </div>
          
          <figcaption>
              <h5><%= restaurant.name %></h5>
              <p><%#= restaurant.price_range %></p>
              <p><%#= restaurant.rating %></p>
              <span class="subheader"><%= link_to 'Go', restaurant_path(restaurant) %></span>
              
          </figcaption>
        </figure>
      </div>
    <% end %>
  </div>

</div>
