<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Seatyouself</title>
    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Muli:300,400' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <header id="head-nav">
    <div class="sticky">
      <nav class="top-bar nav-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <div class="logo-container">
              <h1 id="app-logo"><%= link_to 'Seat Yourself', restaurants_url %></h1>
            </div>
          </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
    <!-- Right Nav Section -->
          <ul class="right">
            <div class="right-navigation-container">
             
                <div class="row collapse">
                  <li><%= link_to "Categories", categories_url%></li>
                  <% if current_user %>
                    <li><%= link_to 'Profile', user_path(current_user) %>
                    <li><%= link_to 'Log out', log_out_path %></li>
                  <% else %>
                    <li><%= link_to 'Log In',new_session_path %></li>
                    <li><%= link_to 'Sign Up',new_user_path %></li>
                  <% end %>
                </div>
            </div>
          </ul>
        </section>
      </nav>
    </div>
  </header>

<main role="main" class"main">
    <%= yield %>
</main>
  <% if flash[:notice] %>
               <p id='notice'><% flash[:notice] %></p>
       <% end %>

       <!-- footer panel -->

<div class="learn-more">
  

  <footer class="row ">
    <div class="large-12 columns footer-container">

      <div clas="row ">
        <div class="large-5 columns about-container">
          <h5>About</h5>
          <p>Who are we</p>
          <p>What is Seat yourself</p>
          <p>Jobs</p>
          <p>Press</p>
        </div>
        <div class="large-5 columns">
          <h5>Help</h5>
          <p>FAQ</p>
          <p>Terms of service</p>
          <p>Privacy policy</p>
          <p>Trust and saftey</p>
        </div>
      </div>

      <hr>
      <div class="row ">
        <div class="large-6 columns social-container">
          <p class="">© Seat yourself</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right social-container">
            <li><a href="#"><i class="fa fa-twitter social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-tumblr social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-dribbble social-icons" style=" color: silver"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus social-icons" style=" color: silver"></i></a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>
</div> 
 
    <%= javascript_include_tag "application" %>
  </body>
</html>