<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <header id="head-nav">
    <div class="sticky">
      <nav class="top-bar nav-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <div class="logo-container">
              <h1 id="app-logo"><%= link_to 'Seat Yourself', restaurants_url %></h1>
            </div>
          </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
    <!-- Right Nav Section -->
          <ul class="right">
            <div class="right-navigation-container">
             
                <div class="row collapse">
                  <li><a href="#">About</a></li>
                  <% if current_user %>
                    <li><%= link_to 'Profile', user_path(current_user) %>
                    <li><%= link_to 'Log out', log_out_path %></li>
                  <% else %>
                    <li><%= link_to 'Log In',new_session_path %></li>
                    <li><%= link_to 'Sign Up',new_user_path %></li>
                  <% end %>
                </div>
            </div>
          </ul>
        </section>
      </nav>
    </div>
  </header>

       <% if flash[:notice] %>
               <p id='notice'><% flash[:notice] %></p>
       <% end %>

<main role="main" class"main">
    <%= yield %>
</main>

      <!-- <footer id="foot-nav">
        <nav class="nav-bars">
          <table>
            <tbody>
              <tr>
                <td>
                  <h5 id="contact-us">Contact us</h5>
                </td>
                <td>
                  <h5 id="questions">FAQ</h5>
                </td>
              </tr>
            </tbody>
          </table>
        </nav>
       </footer> -->
    <%= javascript_include_tag "application" %>
  </body>
</html>